In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt
import numpy as np

In [2]:
covid=pd.read_csv('covid_19_india.csv',parse_dates=['Date'],dayfirst=True)

In [3]:
covid.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3

In [4]:
covid=covid[['Date','State/UnionTerritory','Cured','Deaths','Confirmed']]
covid.columns=['date','state','cured','deaths','confirmed']

In [5]:
covid.head()

        date   state  cured  deaths  confirmed
0 2020-01-30  Kerala      0       0          1
1 2020-01-31  Kerala      0       0          1
2 2020-02-01  Kerala      0       0          2
3 2020-02-02  Kerala      0       0          3
4 2020-02-03  Kerala      0       0          3

In [6]:
covid.tail()

            date          state    cured  deaths  confirmed
14685 2021-05-08      Telangana   413225    2666     487199
14686 2021-05-08        Tripura    34270     405      37208
14687 2021-05-08    Uttarakhand   158872    3430     229993
14688 2021-05-08  Uttar Pradesh  1184688   14873    1453679
14689 2021-05-08    West Bengal   818108   12076     954282

In [7]:
State=input("Enter State/UnionTerritory : ")
prediction=covid[covid.state==State]

Enter State/UnionTerritory : Goa

In [8]:
prediction.head()

          date state  cured  deaths  confirmed
371 2020-03-26   Goa      0       0          3
398 2020-03-27   Goa      0       0          3
425 2020-03-28   Goa      0       0          3
452 2020-03-29   Goa      0       0          5
479 2020-03-30   Goa      0       0          5

In [9]:
prediction.tail()

            date state  cured  deaths  confirmed
14519 2021-05-04   Goa  70929    1320      98088
14555 2021-05-05   Goa  72799    1372     100902
14591 2021-05-06   Goa  74991    1443     104398
14627 2021-05-07   Goa  77014    1501     108267
14663 2021-05-08   Goa  79189    1557     112462

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
prediction['date']=prediction['date'].map(dt.datetime.toordinal)

<ipython-input-11-d64f77d75647>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prediction['date']=prediction['date'].map(dt.datetime.toordinal)

In [12]:
prediction.head()

       date state  cured  deaths  confirmed
371  737510   Goa      0       0          3
398  737511   Goa      0       0          3
425  737512   Goa      0       0          3
452  737513   Goa      0       0          5
479  737514   Goa      0       0          5

In [ ]:
prediction.tail()

In [ ]:
x=prediction['date']
y=prediction['confirmed']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf=RandomForestRegressor()

In [ ]:
rf.fit(np.array(x_train).reshape(-1,1),np.array(y_train).reshape(-1,1))

In [ ]:

rf.predict([[737918]])